.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
    pointer-events: none;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.context-action {
    font-size: 14px;
    background: transparent;
    color: #282c34;
    border: none;
    width: 100%;
    line-height: 20px;
}
.context-action:hover {
    background: lightblue;
}
* {
    user-select: none;
}
.token {
    position: relative;
    height: 100%;
}

.token.wounded:before {
    content: "";
    display: block;
    position: absolute;
    border-radius: 50%;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(206, 44, 44, 0.4);
    -moz-transition: background 0.3s linear;
    -webkit-transition: background 0.3s linear;
    -o-transition: background 0.3s linear;
    transition: background 0.3s linear;
}
